@media screen and (max-width: 1180px) {
  .section_p {
    padding: 20px 100px;
  }

  .services_container {
    height: auto;
  }
}

@media screen and (max-width: 1078px) {
  .section_p {
    padding: 20px 100px;
  }

  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .section_p {
    padding: 20px 60px;
  }

  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 960px) {
  .nav_container {
    position: relative;
  }

  .links {
    display: none;
  }

  .toggle_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 90px;
    gap: 20px;
    background: var(--primary-gradient-color);
    z-index: 3;
    width: 160px;
    height: auto;
    padding: 30px;
  }

  .menu_bar {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 27px;
    position: relative;
  }

  .menu_bar i {
    transition: 0.3s ease-in-out;
  }

  .menu_bar i:hover {
    color: orangered;
  }

  .toggle {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
  }

  /** CONTACT PAGE **/

  .contact_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    height: 190vh;

  }

  .contact_info {
    width: 30vw;
    height: 70vh;
    position: absolute;
    left: 150px;
    top: 10px;
    padding: 10px 20px;
  }

  .contact_form {
      position: absolute;
      right: 130px;
      top: 45%;
      height: 10vh;
  }
}


@media screen and (max-width: 935px) {
  .section_p {
    padding: 20px 20px;
  }

  .links {
    gap: 10px;
  }
}



@media screen and (max-width: 842px) {
  .section_p {
    padding: 20px 40px;
  }

  nav {
    width: 100vw;
  }

  .about_img img {
    width: 40vw;
  }

  .about_info .about_desc {
    width: 45vw;
  }

  .about_info h3 {
    color: white;
    font-family: Arial;
    letter-spacing: 0.2rem;
    font-size: large;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100vw;
  }

  .hero_container {
    height: 100vh;
    width: 100%;
  }

  .services_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .services_container {
    width: 34vw;
    height: auto;
  }

  .hero_title h1 {
    font-size: 5vw;
  }

  .hero_title p {
    width: 74vw;
    line-height: 2rem;
  }

  .hero_container {
    height: 50vh;
  }

  .about_container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 20px;
  }
  .about_img img {
    width: 70vw;
  }

  .about_info {
    text-align: center;
  }

  .about_info .about_desc {
    width: 90vw;
    text-align: center;
  }

  .services_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .services_container {
    width: 65vw;
    height: auto;
  }

  .testi_box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70vw;
  }

  .testi_text {
    padding-bottom: 10px;
    width: 250px;
  }

  .form input {
    width: 60vw;
  }

  .form textarea {
    width: 60vw;
  }
}

@media screen and (max-width: 375px) {
  .about_info .about_desc {
    width: 80vw;
    margin: 0 auto;
  }

  .about_info h3 {
    width: 100vw;
    margin: 0 auto;
    font-size: 30px;
    padding: 0 10px;
  }

  .info_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 350px;
  }
}