*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo img{
  width: 130px;
}

img{
  width: 200px;
}

.section_p{
  padding: 20px 150px;
}

.section_m{
  margin: 10px 8px;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

header h1{
  font-family: var(--poppins);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: medium;
  color: orangered;
  position: relative;
  margin-bottom: 70px;
  text-shadow: 1px 2px 3px black;
  
}

header h1::before{
  content: "";
  border-bottom: 2px solid orangered;
  width: 50px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 35px;
  text-shadow: 1px 2px 3px black;
  
}


:root{
  --primary-gradient-color: linear-gradient(to right, hsla(244,93%,11% ,1) 0%,rgb(32, 7, 170) 100% );
  --poppins: Poppins;
  --kanit: Kanit, monospace;
  --Arimo: Arimo, monospace;
  --roboto: Roboto Mono, monospace;
}

nav{
  background: var(--primary-gradient-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 2px 3px rgba(32, 32, 32, 0.514);
}

.nav_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.links a{
  color: white;
  font-family: var(--poppins);
  font-size: 15px;
  transition: 0.3s ease;
}

.links a:hover{
  color: orangered;
}

.active{
  background-color: orangered;
}

.menu_bar{
  display: none;
}

main{
  background: var(--primary-gradient-color);
  height: auto;
  width: 100%;
}

.hero_container{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/My_Portfolio-Website/ASSETS/IMG/hero_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero_title{
  font-family: Arial;
  line-height: 3rem;
}
.hero_title h1{
  color: white;
  font-size: 3.5vw;
  letter-spacing: 0.4rem;
}
.hero_title h1 span{
  color: orangered;
}

.hero_title p{
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.social_handle a{
  text-decoration: none;
  padding: 10px;
}

.social_handle i{
  color: white;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.social_handle i:hover{
  color: orangered;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about header h1{
  font-family: var(--poppins);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: medium;
  color: orangered;
  position: relative;
  margin-bottom: 70px;
  text-shadow: 1px 2px 3px black;
  
}

.about header h1::before{
  content: "";
  border-bottom: 2px solid orangered;
  width: 50px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 35px;
  text-shadow: 1px 2px 3px black;
  
}

.about_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 20px;
  
}

.about_img img{
  width: 400px;
}

.about_info{
  line-height: 3rem;
}

.about_info h3{
  color: white;
  font-family: Arial;
  letter-spacing: 0.2rem;
  font-size: x-large;
}

.about_info h4{
  color: orangered;
  font-family: var(--poppins);
}

.about_info p{
  color: white;
  font-family: var(--poppins);
  font-size: small;
  line-height: 1.4rem;
}


.info{
  margin-top: 20px;
  
}

.info_text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 400px;
}

.info_text span{
  color: white;
  font-family: var(--Arimo);
  font-size: 13px;
  letter-spacing: 0.01em;
}


.cv_btn{
  background-color: transparent;
  border: none;
}

.cv_btn a{
  padding: 10px 20px;
  font-family: var(--poppins);
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.cv_btn a:hover{
  background-color: white;
  color: orangered;
}

.cv_message{
  display: none;
  color: white;
  font-size: smaller;
  font-family: monospace;
  letter-spacing: 0.1rem;
  transition: 0.4s ease-in-out;
}

.message_active{
  transition: 0.4s ease-in-out;
  display: block;
}

.cv_message button{
  background-color: red;
  padding: 5px ;
  cursor: pointer;
  border: none;
  color: white;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.services_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.services_container{
  background-color: white;
  width: 24vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 3px 4px whitesmoke;
  line-height: 2.5rem;
}

.services_box{
  text-align: center;
  padding: 20px ;
  
}

.services_icon i{
  font-size: 60px;
  color: orangered;
}

.services_title{
  font-family: var(--poppins);
  color: rgb(2, 2, 58);
}


.services_desc p{
  font-family: Arial;
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.4rem;
  letter-spacing: 0.05em;
  text-align: left;
}

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.testi_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testi_box{
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 1px solid rgb(151, 151, 151);
  padding: 10px 20px 5px ;
}

.testi_img img{
  width: 100px;
}

.testi_name{
  color: white;
  text-transform: uppercase;
  font-family: var(--poppins);
  font-size: large;
  letter-spacing: 0.04rem;
  margin-bottom: 15px;
}

.testi_text{
  width: 400px;
  color: white;
  font-family: var(--Arimo);
  font-weight: 100;
}

.testi_button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.testi_btn{
  border: none;
  background: transparent;
}

.testi_btn i{
  padding: 5px 20px;
  color: orangered;
  background-color: white;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

.testi_btn i:hover{
  background-color: orangered;
  border: none;
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  background-color: rgb(7, 7, 100);
}

.form input{
  font-family: var(--poppins);
  margin: 10px 0 10px 0;
  width: 40vw;
  padding: 10px 20px;
}

form:focus{
  border: 1px solid red;
}

.form textarea{
  font-family: var(--poppins);
  width: 40vw;
  height: 25vh;
  padding: 10px 20px;
  letter-spacing: 0.1em;
}


.submit input{
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.submit input:hover{
  background-color: white;
  color: orangered;
}

/* Media Query */

@media screen and (max-width: 1180px){
  .section_p{
    padding: 20px 100px;
  }

  .services_container {
    height: auto;
    
}
}

@media screen and (max-width: 1078px){
  .section_p{
    padding: 20px 100px;
  }

  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 1000px){
  .section_p{
    padding: 20px 60px;
  }

  .links {
    gap: 15px;
  }
}

@media screen and (max-width: 935px){
  .section_p{
    padding: 20px 20px;
  }

  .links {
    gap: 10px;
  }
}

@media screen and (max-width: 960px){

  .nav_container{
    position: relative;
  }

 .links {
    display: none;
  }

  .toggle_menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 90px;
    gap: 20px;
    background: var(--primary-gradient-color);
    z-index: 3;
    width: 160px;
    height: auto;
    padding: 30px;
  }

  .menu_bar{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 27px;
    position: relative;
  }

  .menu_bar i{
    transition: 0.3s ease-in-out;
  }

  .menu_bar i:hover{
    color: orangered;
  }

 

 .toggle{
    display: none;

  }

  .rotate{
    transform: rotate(180deg);   
  }

 
}

@media screen and (max-width: 842px){
  .section_p {
    padding: 20px 40px;
  }

  nav{
  width: 100vw;

  }

  .about_img img {
    width: 40vw;
}

.about_info .about_desc {
    width: 45vw;

}

.about_info h3 {
    color: white;
    font-family: Arial;
    letter-spacing: 0.2rem;
    font-size: large;
}
}



@media screen and (max-width: 768px){
  nav{
    width: 100vw;
  }

  .hero_container {
    height: 100vh;
    width: 100%;

  }

  .services_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.services_container {
    width: 34vw;
    height: auto;
    
}

 .hero_title h1 {
    font-size: 5vw;

}

.hero_title p {
    width: 74vw;
    line-height: 2rem;
}

.hero_container {
    height: 50vh;
}

.about_container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 20px;
}
.about_img img {
    width: 70vw;
}

.about_info {
    text-align: center;
}

.about_info .about_desc {
    width: 90vw;
    text-align: center;
}

.services_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}


.services_container {
    width: 65vw;
    height: auto;
    
}

.testi_box {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70vw;
}

.testi_text {
  padding-bottom: 10px;
    width: 250px;
}


.form input{
  width: 60vw;
}

.form textarea{
  width: 60vw;
}
  
}

@media screen and (max-width: 375px){

.about_info .about_desc {
    width: 80vw;
    margin: 0 auto;
}

.about_info h3 {
    width: 100vw;
    margin: 0 auto;
    font-size: 30px;
    padding: 0 10px;
}

.info_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 400px;
}
  
}



